<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolutionTools.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SolutionTools.My.MySettings>
            <setting name="TaskListCommon" serializeAs="String">
                <value>bax00framework\04.-Data Access Layer\Ax00.Framework.Data\UpdateVersion\Task\TaskList_BAx00.xml</value>
            </setting>
            <setting name="TaskListData" serializeAs="String">
                <value>04.-Data Access Layer\Ax00.Data\UpdateVersion\Task\TaskList_BA200.xml</value>
            </setting>
            <setting name="TaskListEncrypted" serializeAs="String">
                <value>PresentationCOM\Update\Task\TaskList.xml</value>
            </setting>
            <setting name="TaskListDecrypted" serializeAs="String">
                <value>PresentationCOM\Update\Task\TaskListDecrypted.xml</value>
            </setting>
            <setting name="FactoryFwScriptsDataEncrypted" serializeAs="String">
                <value>PresentationSRV\FwScripts\Factory\FactoryFwScriptsData.xml</value>
            </setting>
            <setting name="FactoryFwScriptsDataDecrypted" serializeAs="String">
                <value>PresentationSRV\FwScripts\Factory\FactoryFwScriptsDataDecrypted_BA200.xml</value>
            </setting>
        </SolutionTools.My.MySettings>
    </userSettings>
</configuration>