<?xml version="1.0"?>
<configuration>
  <connectionStrings />
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="XmlFwScripts" value="\FwScripts\FwScriptsData.xml" />
    <add key="FactoryXmlFwScripts" value="\FwScripts\Factory\FactoryFwScriptsData.xml" />
    <add key="XmlFwScriptsImporting" value="\FwScripts\FwScriptsDataImporting.tmp" />
    <add key="XmlFwScriptsDecrypting" value="\FwScripts\FwScriptsDataDecrypting.tmp" />
    <add key="XmlFwScriptsTempFile" value="\FwScripts\TempFile.tmp" />
    <add key="AppPath" value="C:\Program Files\Biosystems\" />
    <add key="ServicePath" value="\Service Sw\" />
    <add key="UserPath" value="\User Sw\" />
    <add key="ImagesPath" value="\Images\" />
    <add key="XmlLogFilePath" value="\Log\" />
    <add key="PCOSInfoFilePath" value="\" />
    <add key="VersionFileName" value="Version.txt" />
    <add key="ZIPExtension" value=".SAT" />
    <add key="DataBaseVersion" value="3.09" />
    <add key="AllowDBGreaterVersion" value="True" />
    <add key="ClientSettingsProvider_ServiceUri" value="" />
    <add key="PortSpeed" value="115200" />
    <add key="LastPortConnected" value="" />
    <add key="PortSpeedList" value="115200" />
    <add key="RealDevelopmentMode" value="0" />
    <add key="WriteToSystemLog" value="True" />
    <add key="DataPath" value="\Data\" />
    <add key="DataBasePath" value="\Data Base\" />
    <add key="FwAdjustmentsPath" value="\Adjustments\" />
    <add key="ISEParammetersFilePath" value="\XmlFiles\ISEModuleParammeters.xml" />
    <add key="ISEResultDebugModeFilePath" value="\XmlFiles\ISEResultsDebugMode.xml" />
    <add key="InstallDBBackupFilePath" value="Update\bak\A200.bak" />
    <add key="InstallDBTaskFilePath" value="Update\Task\TaskList.xml" />
    <add key="ContaminationReagentPersistance" value="2" />
    <add key="PhotometryTestsFile" value="\Adjustments\PhotometryTests.bin" />
    <add key="UpdateDatabaseConnectionString" value="Data Source=(local)\SQLEXPRESS;Initial Catalog=Ax00TEM;user=sa;Password=BIOSYSTEMS" />
    <add key="PhotometryBLFileOut" value="\Adjustments\BLResults.res" />
    <add key="PhotometryRepeatabilityFileOut" value="\Adjustments\RepeatabilityResults.res" />
    <add key="PhotometryStabilityFileOut" value="\Adjustments\StabilityResults.res" />
    <add key="MaxRepetitionsTimeout" value="3" />
    <add key="OpticalCenteringCurrentLed" value="8000" />
    <add key="OpticalCenteringStepLed" value="1000" />
    <add key="OpticalCenteringWellsToRead" value="5" />
    <add key="OpticalCenteringStepsbyWell" value="80" />
    <add key="XmlLogFile" value="AX00Log.xml" />
    <add key="ScalesDinamicRange" value="50" />
    <add key="AnalyzerInfoFileOut" value="\Adjustments\AnalyzerInfo.txt" />
    <add key="QCResultsFilesPath" value="\QCResultsFiles\" />
    <add key="ServiceInfoDocsPath" value="\InfoDocs\" />
    <add key="MSInfo32ReportName" value="MSInfo32Report.nfo" />
    <add key="ReportPath" value="\Reports\Templates" />
    <add key="IsSystemLogFull" value="False" />
    <add key="SNUpperPartSize" value="3" />
    <add key="SNLowerPartSize" value="6" />
    <add key="BA400ModelID" value="834" />
    <add key="UpdateVersionRestorePointName" value="RestorePoint End Version" />
    <add key="PreviousFolder" value="\Previous\" />
    <add key="TemporalDBName" value="Ax00TEM" />
    <add key="BakDirectoryPath" value="Update\bak\" />
    <add key="TemporalDirectory" value="C:\TEMP\" />
    <add key="TempDBBakupFileName" value="A200.bak" />
    <add key="DBBackUpFileName" value="A200.bak" />
    <add key="IsServiceAssembly" value="False" />
    <add key="UpdateLogFile" value="UpdateLogError.xml" />
    <add key="RSATUpdateErrorName" value="RSATUpdateError" />
    <add key="SynapseLogFileName" value="SynapseEventLog" />
    <add key="UserSwExeName" value="BA200User.exe" />
    <add key="UserProjectName" value="PresentationUSR" />
    <add key="ServiceProjectName" value="PresentationSRV" />
    <add key="UpdateVersionProcessLogFileName" value="Ax00UpdateVersion.xml" />
    <add key="MaxRepetitionsRetry" value="1" />
    <add key="UpdateVersionDatabaseProcessLogFileName" value="Ax00UpdateVersion_" />
    <add key="CommonDatabaseName" value="Ax00" />
    <add key="BiosystemsConnDev" value="Data Source=(local)\SQLEXPRESS;Initial Catalog=A200;user=sa;Password=BIOSYSTEMS;Persist Security Info=true;min pool size=1; max pool size=10;" />
    <add key="DatabaseName" value="A200" />
    <add key="BA200ModelID" value="834" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
