<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <My.MySettings>
      <setting name="XmlFwScripts" serializeAs="String">
        <value>\FwScripts\FwScriptsData.xml</value>
      </setting>
      <setting name="FactoryXmlFwScripts" serializeAs="String">
        <value>\FwScripts\Factory\FactoryFwScriptsData.xml</value>
      </setting>
      <setting name="XmlFwScriptsImporting" serializeAs="String">
        <value>\FwScripts\FwScriptsDataImporting.tmp</value>
      </setting>
      <setting name="XmlFwScriptsDecrypting" serializeAs="String">
        <value>\FwScripts\FwScriptsDataDecrypting.tmp</value>
      </setting>
      <setting name="XmlFwScriptsTempFile" serializeAs="String">
        <value>\FwScripts\TempFile.tmp</value>
      </setting>
      <setting name="AppPath" serializeAs="String">
        <value>C:\Program Files\Biosystems\</value>
      </setting>
      <setting name="ServicePath" serializeAs="String">
        <value>\Service Sw\</value>
      </setting>
      <setting name="UserPath" serializeAs="String">
        <value>\User Sw\</value>
      </setting>
      <setting name="ImagesPath" serializeAs="String">
        <value>\Images\</value>
      </setting>
      <setting name="XmlLogFilePath" serializeAs="String">
        <value>\Log\</value>
      </setting>
      <setting name="PCOSInfoFilePath" serializeAs="String">
        <value>\</value>
      </setting>
      <setting name="VersionFileName" serializeAs="String">
        <value>Version.txt</value>
      </setting>
      <setting name="ZIPExtension" serializeAs="String">
        <value>.SAT</value>
      </setting>
      <setting name="DataBaseVersion" serializeAs="String">
        <value>3.10</value>
      </setting>
      <setting name="AllowDBGreaterVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientSettingsProvider_ServiceUri" serializeAs="String">
        <value />
      </setting>
      <setting name="PortSpeed" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="LastPortConnected" serializeAs="String">
        <value />
      </setting>
      <setting name="PortSpeedList" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="RealDevelopmentMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WriteToSystemLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataPath" serializeAs="String">
        <value>\Data\</value>
      </setting>
      <setting name="DataBasePath" serializeAs="String">
        <value>\Data Base\</value>
      </setting>
      <setting name="FwAdjustmentsPath" serializeAs="String">
        <value>\Adjustments\</value>
      </setting>
      <setting name="ISEParammetersFilePath" serializeAs="String">
        <value>\XmlFiles\ISEModuleParammeters.xml</value>
      </setting>
      <setting name="ISEResultDebugModeFilePath" serializeAs="String">
        <value>\XmlFiles\ISEResultsDebugMode.xml</value>
      </setting>
      <setting name="InstallDBBackupFilePath" serializeAs="String">
        <value>Update\bak\Ax00.bak</value>
      </setting>
      <setting name="InstallDBTaskFilePath" serializeAs="String">
        <value>Update\Task\TaskList.xml</value>
      </setting>
      <setting name="ContaminationReagentPersistance" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PhotometryTestsFile" serializeAs="String">
        <value>\Adjustments\PhotometryTests.bin</value>
      </setting>
      <setting name="UpdateDatabaseConnectionString" serializeAs="String">
        <value>Data Source=(local)\SQLEXPRESS;Initial Catalog=Ax00TEM;user=sa;Password=BIOSYSTEMS</value>
      </setting>
      <setting name="PhotometryBLFileOut" serializeAs="String">
        <value>\Adjustments\BLResults.res</value>
      </setting>
      <setting name="PhotometryRepeatabilityFileOut" serializeAs="String">
        <value>\Adjustments\RepeatabilityResults.res</value>
      </setting>
      <setting name="PhotometryStabilityFileOut" serializeAs="String">
        <value>\Adjustments\StabilityResults.res</value>
      </setting>
      <setting name="MaxRepetitionsTimeout" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OpticalCenteringCurrentLed" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="OpticalCenteringStepLed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="OpticalCenteringWellsToRead" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="OpticalCenteringStepsbyWell" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="XmlLogFile" serializeAs="String">
        <value>AX00Log.xml</value>
      </setting>
      <setting name="ScalesDinamicRange" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="AnalyzerInfoFileOut" serializeAs="String">
        <value>\Adjustments\AnalyzerInfo.txt</value>
      </setting>
      <setting name="QCResultsFilesPath" serializeAs="String">
        <value>\QCResultsFiles\</value>
      </setting>
      <setting name="ServiceInfoDocsPath" serializeAs="String">
        <value>\InfoDocs\</value>
      </setting>
      <setting name="MSInfo32ReportName" serializeAs="String">
        <value>MSInfo32Report.nfo</value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>\Reports\Templates</value>
      </setting>
      <setting name="BiosystemsConnDev" serializeAs="String">
        <value>Data Source=(local)\SQLEXPRESS;Initial Catalog=Ax00;user=sa;Password=BIOSYSTEMS;Persist Security Info=true;</value>
      </setting>
      <setting name="IsSystemLogFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SNUpperPartSize" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SNLowerPartSize" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BA400ModelID" serializeAs="String">
        <value>834</value>
      </setting>
      <setting name="UpdateVersionRestorePointName" serializeAs="String">
        <value>RestorePoint End Version</value>
      </setting>
      <setting name="PreviousFolder" serializeAs="String">
        <value>\Previous\</value>
      </setting>
      <setting name="TemporalDBName" serializeAs="String">
        <value>Ax00TEM</value>
      </setting>
      <setting name="BakDirectoryPath" serializeAs="String">
        <value>Update\bak\</value>
      </setting>
      <setting name="TemporalDirectory" serializeAs="String">
        <value>C:\TEMP\</value>
      </setting>
      <setting name="TempDBBakupFileName" serializeAs="String">
        <value>Ax00TEM.bak</value>
      </setting>
      <setting name="DBBackUpFileName" serializeAs="String">
        <value>Ax00.bak</value>
      </setting>
      <setting name="IsServiceAssembly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateLogFile" serializeAs="String">
        <value>UpdateLogError.xml</value>
      </setting>
      <setting name="RSATUpdateErrorName" serializeAs="String">
        <value>RSATUpdateError</value>
      </setting>
      <setting name="SynapseLogFileName" serializeAs="String">
        <value>SynapseEventLog</value>
      </setting>
      <setting name="UserSwExeName" serializeAs="String">
        <value>BA400User.exe</value>
      </setting>
      <setting name="UserProjectName" serializeAs="String">
        <value>PresentationUSR</value>
      </setting>
      <setting name="ServiceProjectName" serializeAs="String">
        <value>PresentationSRV</value>
      </setting>
    </My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
